<form>
  <div class="modal-header">
    <h1>Log In</h1>
  </div>
  <div class="modal-body">
    <p>Please log in to continue</p>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email"
             type="text"
             class="form-control"
             ng-model="ctrl.email"
             ng-disabled="ctrl.loading"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password"
             type="password"
             class="form-control"
             ng-model="ctrl.password"
             ng-disabled="ctrl.loading"/>
    </div>
    <div class="alert alert-danger" ng-if="ctrl.error">
      <strong>Error</strong><br/>
      <span ng-if="ctrl.error">
        Could not log you in. Please refresh the page and try again.
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            ng-click="ctrl.login(ctrl.email, ctrl.password, $close)"
            ng-disabled="ctrl.loading">
      Log in
    </button>
  </div>
</form>
