//fonts import
@import url("http://fonts.googleapis.com/css?family=Comfortaa")

//fonts

$font-family-comfortaa:  "Comfortaa"

// color palette

$color-primary: #F26B21
$color-primary-accent: #c1551a
$color-secondary: #5E5E5E

$color-background: #EFEFEF
$color-background-alt: #FFFFFF

$color-foreground: #000000

$color-success: #7BBE23
$color-success-accent: #61961C
$color-danger: #CB4B19
$color-danger-accent: #9E3B14

$standard-border-radius: 6px

//## Gray colors.
$gray-base:              #000
$gray-darker:            lighten($gray-base, 13.5%)
$gray-dark:              #444
$gray:                   #777
$gray-light:             #A0A0A0
$gray-lighter:           #E4E4E4
