
@import "variables"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootswatch"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "fanpic"


.campaigns
  .campaign-block
    border: solid 1px lightgray
    img
      width: 100%
    h2
      margin-top: 6px
      font-size: 160%
      transition: color 0.6s
    a:hover
      text-decoration: none
      h2
        color: $link-hover-color

.campaign-show
  .cover-holder
    position: relative
    background-color: black
    height: 300px
    .cover-image
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-size: cover
      background-position: center
      opacity: 0.65
    .thumbnail-image-holder
      margin-top: 20px
      .thumbnail-image
        width: 100%
        position: absolute
        bottom: 0
        top: 0
        background-position: center
        background-size: cover
  .description-holder
    border-top: 1px solid #E4E4E4
    border-bottom: 1px solid #E4E4E4
  .entries
    @include make-row(15px)
    &:after
      content: ''
      display: block
      clear: both
    .entry
      @include make-sm-column(3, 15px)
      @media (max-width: $screen-xs-max)
        width: 100%
      margin-bottom: 15px
      .entry-content
        background-color: #FFFFFF
        border-radius: 6px
        border: solid 1px
        border-color: #E4E4E4
        img
          max-width: 100%
          height: auto
          border-top-left-radius: 6px
          border-top-right-radius: 6px
        .details
          padding: 5px
          overflow: hidden
          .likes
            font-weight: bold
            .fa-heart
              color: red
          p
            margin-bottom: 0
