
@import "fanpic-variables"
@import "variables"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootswatch"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "fanpic"

.campaigns
  .campaign-block
    border: solid 1px lightgray
    img
      width: 100%
    h2
      margin-top: 6px
      font-size: 160%
      transition: color 0.6s
    a:hover
      text-decoration: none
      h2
        color: $link-hover-color

.campaign-layout
  .cover-holder
    position: relative
    background-color: black
    height: 300px
    .cover-image
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-size: cover
      background-position: center
      opacity: 0.45
    .thumbnail-image-holder
      margin-top: 20px
      overflow: hidden
      background-color: black
      position: relative
      .thumbnail-image
        width: 100%
        position: absolute
        bottom: 0
        top: 0
        background-position: center
        background-size: cover
        max-width: 100%
      .text-container
        position: absolute
        z-index: 100
        width: 100%
        .image-text
          color: white
          font-size: 30px
          margin-top: 20%
    .name
      font-size: 40px
      color: white
      margin-top: 20px
    .description
      font-size: 15px
      color: white
  .main-info-holder
    border-top: 1px solid #E4E4E4
    border-bottom: 1px solid #E4E4E4
    .thumbnail-image-holder
      margin-top: 20px
      overflow: hidden
      background-color: black
      position: relative
      .thumbnail-image
        width: 100%
        position: absolute
        bottom: 0
        top: 0
        background-position: center
        background-size: cover
    .statistics-header
      font-size: 13px
      margin: 0
    .statistics
      font-size: 30px
    .requirements
      height: auto
      margin-bottom: 30px
      ul
        padding-left: 16px
    .fade-out
      overflow: hidden
      vertical-align: middle
      position: relative
      height: 150px
      margin-bottom: 0
      &:after
        content: ""
        position: absolute
        bottom: 0
        right: 0
        left: 0
        height: 40%
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%)
  .filters
    margin-left: 2px
    margin-right: 2px
    margin-top: 5px
    margin-bottom: 10px
    padding-left: 5px
    padding-right: 5px
    padding-top: 5px
    padding-bottom: 5px
  .entries
    @include make-row(15px)
    &:after
      content: ''
      display: block
      clear: both
    .entry
      @include make-sm-column(3, 15px)
      @media (max-width: $screen-xs-max)
        width: 100%
      margin-bottom: 15px
      .entry-content
        background-color: #FFFFFF
        border-radius: 6px
        border: solid 1px
        border-color: #E4E4E4
        img
          width: 100%
          height: auto
          border-top-left-radius: 6px
          border-top-right-radius: 6px
          opacity: 1
          transition: 0.2s all
          &:hover
            opacity: 0.9
            cursor: pointer
        .entry-status
          @include make-row(0px)
          height: 25px
          border-bottom: 1px solid #E4E4E4
          &:hover
            cursor: pointer
          @media (max-width: $screen-xs-max)
            height: 50px
          .status-btn
            @include make-xs-column(6, 0px)
            height: 100%
            padding: auto
            background-color: transparent
            padding-top: 3px
            transition: all linear 0.2s
            @media (max-width: $screen-xs-max)
              padding-top: 15px
          .rejected
            border-right: 1px solid #E4E4E4
            &:hover
              background-color: $color-danger
              color: white
            &:active
              transition: all linear 0.05s
              background-color: $color-danger-accent
          .accepted
            &:hover
              background-color: $color-success
              color: white
            &:active
              transition: all linear 0.05s
              background-color: $color-success-accent
        .details
          padding: 5px
          overflow: hidden
          .likes
            font-weight: bold
            margin-top: 8px
            margin-bottom: 0
            margin-right: 12px
            margin-left: 12px
            @media (max-width: $screen-xs-max)
              margin-top: 8px
              margin-bottom: 0
              margin-right: 19px
              margin-left: 19px
          p
            overflow: hidden
            margin-top: 8px
            margin-bottom: 12px
            margin-right: 12px
            margin-left: 12px
            @media (max-width: $screen-xs-max)
              margin-top: 8px
              margin-bottom: 12px
              margin-right: 19px
              margin-left: 19px
.entry-details-modal
  .modal-body
    .entry-image
      border-radius: 6px
    .content
      position: relative
      height: 414px
      @media (max-width: $screen-sm-max)
        height: auto
        margin-top: 20px
      .profile-image
        width: 65px
        @media (max-width: $screen-sm-max)
          width: 55px
      .likes
        margin-bottom: 15px
      p
        overflow: hidden
      .btn-block-container
        width: 100%
        margin: auto
        bottom: 0
        position: absolute
        @media (max-width: $screen-sm-max)
          margin-top: 45px
          position: relative
        .btn-block
          @media (max-width: $screen-sm-max)
            margin-top: 3px
        .btn-block-left
          padding-left: 0
          padding-right: 3px
          @media (max-width: $screen-sm-max)
            padding-left: 0
            padding-right: 0
        .btn-block-right
          padding-left: 3px
          padding-right: 0
          @media (max-width: $screen-sm-max)
            padding-left: 0
            padding-right: 0
.signup
  .logo
    font-size: 20px
    margin-left: 20px
    margin-top: 10px
  .signup-holder
    position: relative
    height: 700px
    background-color: black
    .image-holder
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-image: image-url("signup_background.png")
      background-size: cover
      background-position: center
      height: 100%
      opacity: 0.45
    .signup-content
      padding-top: 5%
      .signup-form-container
        background-color: $color-background-alt
        border-radius: 6px
        padding-top: 10px
        padding-bottom: 10px
        padding-left: 20px
        padding-right: 20px
        margin-bottom: 15px
        opacity: 1 !important
        .form-group
          margin-bottom: 8px
          input
            height: 30px
        button
          margin-top: 8px
          margin-bottom: 8px
        .validation
          margin-top: 8px
          color: $color-primary
          font-size: 10px
        .animate-show
          opacity: 1
        .animate-show.ng-hide-add.ng-hide-add-active,
        .animate-show.ng-hide-remove.ng-hide-remove-active
          transition: all linear 0.7s
        .animate-show.ng-hide
          opacity: 0
      .signup-text-container
        h1
          color: white
          font-size: 40px
        h2
          color: white
        p
          color: #C3C3C3





